<!-- <div id="div1">
  
  <span (click)=(click(div1))>div 1</span>
  <div id="div2">
      <span (click)=(click(div2))>div 2</span>
      <div id="div3">
        <div class="click">

        
          <span (click)=(click(div3))>div 3</span>
        </div>
      </div>
  </div>
</div>

  <div class="">
      <table class="table">
          <thead>
              <tr>
                  <th>
                      Discard
                  </th>
                  <th>
                      Suffix
                  </th>
                  <th>
                      Similarity
                  </th>
                  <th>
                      Length
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  
                  <td>
                      {{prefix}}
                  </td>
                  <td>
                      {{suffix}}
                  </td>
                  <td>
                      {{prefix}}
                  </td>
                  <td>
                      {{sulength}}
                  </td>
              </tr>
          </tbody>
      </table>
  </div> -->

  <app-list-of-cards></app-list-of-cards>
  